{% extends 'base.html' %}

{% block content %}

    <h2>About Educator News</h2>
	 <h3>Mission</h3>
	 <p>The goal of Educator News is to facilitate an ongoing, high-level conversation about issues related to education.</p>

	 <h4>Background</h4>
	 <p>There are many people who want to engage in a highly-focused, professional-level conversation about education. These people are not limited to teachers. Education is a fundamental part of almost everyone's lives, so the stakeholders in education include independent learners, parents, students, teachers, administrators, policy makers, and more. Educator News aims to be a place where people can maintain high-level conversations about education that focus on the sharing of accurate information and constructively critical thinking.</p>


	 {% comment %}
	 <p>There are many people who want to engage in a highly-focused, professional-level conversation about education. These people are not limited to teachers. Education is a fundamental part of almost everyone's lives, so the stakeholders in education include independent learners, parents, students, teachers, administrators, policy makers, and more.</p><p>I have enjoyed and benefited significantly from high-level, focused conversations about education in a number of settings. I have enjoyed high-level conversations at the schools I have worked at, the conferences I've been to, and in the people I have met in all of my travels. I have looked for a place online that supports an ongoing conversation </p> {% endcomment %}


{% endblock %}
