{% extends 'base.html' %}

{% block content %}

        {% comment %} --- Article information --- {% endcomment%}
	     <div class='title_line'>
			 {% if article in user_articles or not user.is_authenticated %}
				  <a class='title_without_upvote' href="{{ article.url }}">{{ article.title }}</a></div>
		    {% else %}
			     <a href="{% url 'ed_news:upvote_article' article.id %}">&#9650</a>
				  <a href="{{ article.url }}">{{ article.title }}</a></div>
		    {% endif %}
		  <div class='points_line points_line_discuss'>
			 {{ article.upvotes }}{% if article.upvotes != 1 %} points{% else %} point{% endif %}
			 by <a href="{% url 'profile' article.submitter.id %}">{{ article.submitter }}</a>
			 {{ age }} ago |
			 <a href="{% url 'ed_news:discuss' article.id %}">
				{% if comment_count == 0 %}discuss{% elif comment_count == 1 %}1 comment{% else %}{{ comment_count }} comments{% endif %}
		    </a>
		  </div>


		  {% comment %} --- Comment entry form --- {% endcomment%}
		  <form id='comment_form' method="post" action="{% url 'ed_news:discuss' article.id %}" enctype='multipart/form-data'>
			 {% csrf_token %}

			 <div class='comment_entry_form'>

				{{ comment_entry_form.as_p }}

				<div class='comment_submit_button'>
				  {% if user.is_authenticated %}
				    <input id='submit_comment_button' type="submit" name='submit' value="Add comment" />
				  {% else %}
				    <input id='submit_comment_button' type="submit" name='submit' value="Add comment" disabled />
				    You will have to <a href="{% url 'login' %}">log in</a> or <a href="{% url 'register' %}">register</a> to make a comment.</p>
				  {% endif %}
            </div>

			 </div>
				  
		  </form>

		  

	 {% comment %} --- All comments --- {% endcomment%}
    {% for comment_dict in comment_set %}

		  <div class='comment'>
			   <div>

				  {% comment %}User cannot upvote or downvote.{% endcomment %}
				  {% if not user.is_authenticated %}
			       <a class='title_without_upvote' href="{% url 'profile' comment_dict.comment.author.id %}">{{ comment_dict.comment.author }}</a>
				  {% else %}

					 {% comment %}Work through variations of voting situations for authenticated users.{% endcomment %}

					 {% comment %}Upvote situations: {% endcomment %}
					 {% if comment_dict.can_upvote %}
					   <a class='upvote_link' href="{% url 'ed_news:upvote_comment' comment_dict.comment.id %}">&#9650</a>
					 {% elif comment_dict.upvoted %}
					   <a class='upvoted_link' href="{% url 'ed_news:upvote_comment' comment_dict.comment.id %}">&#9651</a>
					 {% endif %}
						
					 {% comment %}Downvote situations: {% endcomment %}
					 {% if comment_dict.can_downvote %}
					   <a class='downvote_link' href="{% url 'ed_news:downvote_comment' comment_dict.comment.id %}">&#9660</a>
					 {% elif comment_dict.downvoted %}
					   <a class='downvoted_link' href="{% url 'ed_news:downvote_comment' comment_dict.comment.id %}">&#9661</a>
					 {% endif %}

					 {% comment %}Display title line, with voting arrows. {% endcomment %}
					 {% if user == comment_dict.comment.author %}
						{% if perms.ed_news.can_downvote_comment %}
						  <a class='comment_author_title_line' href="{% url 'profile' comment_dict.comment.author.id %}">{{ comment_dict.comment.author }}</a>
						{% else %}
						  <a class='comment_author_title_line comment_author_title_line_cant_downvote' href="{% url 'profile' comment_dict.comment.author.id %}">{{ comment_dict.comment.author }}</a>
						{% endif %}
					 {% else %}
						<a class='' href="{% url 'profile' comment_dict.comment.author.id %}">{{ comment_dict.comment.author }}</a>
					 {% endif %}

				 {% endif %}


				  {{ comment_dict.age }} ago
				  {% block admin_comment_info %}{% endblock %}
			   </div>
				{% if not user.is_authenticated %}
				  <div class='comment_text comment_text_no_downvote'>{{ comment_dict.comment.comment_text }}</div>
				  <div class='reply_link reply_link_no_downvote'><a href="{% url 'login' %}">reply</a></div>
				{% elif user.is_authenticated and perms.ed_news.can_downvote_comment %}
				  <div class='comment_text'>{{ comment_dict.comment.comment_text }}</div>
				  <div class='reply_link'><a href="{% url 'ed_news:reply' article.id comment_dict.comment.id %}">reply</a></div>
				{% else %}
				  <div class='comment_text comment_text_no_downvote'>{{ comment_dict.comment.comment_text }}</div>
				  <div class='reply_link reply_link_no_downvote'><a href="{% url 'ed_news:reply' article.id comment_dict.comment.id %}">reply</a></div>
				{% endif %}
		  </div>

	 {% endfor %}


{% endblock %}
