{% extends 'base.html' %}

{% block content %}

    <div class="jumbotron my_small_jumbotron">
		<h1>Educator News - Guidelines</h1>
		<p>These guidelines are meant to help frame a focused conversation about education. Any set of guidelines requires interpretation, so please read between the lines and consider how we can use these guidelines to help establish and maintain a focused and constructive conversation.</p>
	 </div>

	 <h2>Contents</h2>
	 <ul>
		<li><a href="#submissions">Submissions</a></li>
		<ul>
		  <li><a href="#should_be_submitted">What kinds of articles should be submitted?</a></li>
		  <li><a href="#should_not_be_submitted">What kinds of articles should not be submitted?</a></li>
		</ul>
	 </ul>

	 <h2><a name='submissions' class='anchor_tag'>Submissions</a></h2>
	 <h3><a name='should_be_submitted' class='anchor_tag'>What kinds of articles should be submitted?</a></h3>
	 <p>Most submissions should be related to education in some direct way. That said, education covers many areas: teaching, learning, school structures, policy, social interactions, and much much more. If you think an article will stimulate meaningful discussion about an issue related to education, go ahead and submit it.</p>

	 <h3><a name='should_not_be_submitted' class='anchor_tag'>What kinds of articles should not be submitted?</a></h3>
	 <p>This is a more specific list than what to submit, because there are a number of submission types that we want to avoid. Most submissions that fall into these categories will be quickly flagged and ignored.</p>
	 <ul>
		<li><b>Off-topic submissions.</b> Articles which have no specific connection to education.</li>
		<li><b>Memes.</b> We don't need to see big words on top of cat pictures, even if they do relate to education.</li>
		<li><b>Articles that simply bash teachers and public education.</b> Public education is a good thing, and teachers are not the problem in education. If an article does little more than bash teachers and public education, it doesn't belong here. An article that discusses how to measure the effectiveness of different teaching methods, and support more effective teaching, is probably appropriate. It's a fine line, as there are many articles that seem objective but are really about taking political power away from teachers and public education. We will help sort out the meaningful articles from the overly political articles.</li>
		<li><b>Articles that spread FUD.</b>Some articles are written to spread Fear, Uncertainty, and Doubt about a particular topic. These articles tend to make vague, unfounded, or even blatantly incorrect assertions. They aim to cast fear and doubt over an issue while saying little of value, and they deliberately avoid any balanced perspective on an issue. They have no place here.</li>
		<li><b>Submissions that ask teachers and schools to buy something.</b> An article evaluating a commercial offering may be acceptable, but not if the underlying message is to get people to buy it.</li>
	 </ul>

    <a href="#">top</a>


{% endblock %}
