{% extends 'base.html' %}

{% block content %}

    <div class="jumbotron my_small_jumbotron">
		<h1>Educator News - Guidelines</h1>
		<p>These guidelines are meant to help frame a focused conversation about education. Any set of guidelines requires interpretation, so please read between the lines and consider how we can use these guidelines to help establish and maintain a focused and constructive conversation.</p>
	 </div>

	 <h2>Contents</h2>
	 <ul>
		<li><a href="#introduction">Introduction</a></li>
		<li><a href="#submissions">Submissions</a></li>
		<ul>
		  <li><a href="#should_be_submitted">What kinds of articles should be submitted?</a></li>
		  <li><a href="#should_not_be_submitted">What kinds of articles should not be submitted?</a></li>
		</ul>
		<li><a href="#commenting">Commenting</a></li>
		<li><a href="#voting_and_flagging">Voting and Flagging</a></li>
		<ul>
		  <li><a href="#upvoting_articles">Upvoting articles</a></li>
		  <li><a href="#flagging_articles">Flagging articles</a>
		  <li><a href="#upvoting_comments">Upvoting comments</a></li>
		  <li><a href="#downvoting_comments">Downvoting comments</a></li>
		  <li><a href="#flagging_comments">Flagging comments</a></li>
		</ul>
		<li><a href="#downvoting_flagging_privileges">Downvoting and Flagging are privileges</a></li>
		<li><a href="#thank_you">Thank you</a></li>
	 </ul>


	 <h2><a name='introduction' class='anchor_tag'>Introduction</a></h2>
	 <p>These guidelines are written half as an introduction for people to read when they join Educator News, and half as a reference when people are helping new users understand how to interact on the site. Feel free to read them all the way through or skim them, but please also consider linking to them when you are helping new users learn what kinds of submissions to make.</p>


	 <h2><a name='submissions' class='anchor_tag'>Submissions</a></h2>

	 <h3><a name='should_be_submitted' class='anchor_tag'>What kinds of articles should be submitted?</a></h3>
	 <p>Most submissions should be related to education in some direct way. That said, education covers many areas: teaching, learning, school structures, policy, social interactions, and much much more. If you think an article will stimulate meaningful discussion about an issue related to education, go ahead and submit it.</p>

	 <h3><a name='should_not_be_submitted' class='anchor_tag'>What kinds of articles should not be submitted?</a></h3>
	 <p>This is a more specific list than what to submit, because there are a number of submission types that we want to avoid. Most submissions that fall into these categories will be quickly flagged and ignored.</p>
	 <ul>
		<li><b>Off-topic submissions.</b> Articles which have no specific connection to education.</li>
		<li><b>Memes.</b> We don't need to see big words on top of cat pictures, even if they do relate to education.</li>
		<li><b>Articles that simply bash teachers and public education.</b> Public education is a good thing, and teachers are not the problem in education. If an article does little more than bash teachers and public education, it doesn't belong here. An article that discusses how to measure the effectiveness of different teaching methods, and support more effective teaching, is probably appropriate. It's a fine line, as there are many articles that seem objective but are really about taking political power away from teachers and public education. We will help sort out the meaningful articles from the overly political articles.</li>
		<li><b>Articles that spread FUD.</b>Some articles are written to spread Fear, Uncertainty, and Doubt about a particular topic. These articles tend to make vague, unfounded, or even blatantly incorrect assertions. They aim to cast fear and doubt over an issue while saying little of value, and they deliberately avoid any balanced perspective on an issue. They have no place here.</li>
		<li><b>Submissions that ask teachers and schools to buy something.</b> An article evaluating a commercial offering may be acceptable, but not if the underlying message is to get people to buy it.</li>
	 </ul>

    <a href="#">top</a>


	 <h2><a name='commenting' class='anchor_tag'>Commenting</a></h2>
	 <h3><a name='comments_to_make' class='anchor_tag'>What kind of comments should you make?</a></h3>
	 <p>Please write comments that add something to the discussion. React to something from the article, or something specific that another commenter said. Add some of your own experience, or a point that someone missed.</p>
	 <h3><a name='comments_not_to_make' class='anchor_tag'>What kind of comments should you avoid making?</a></h3>
	 <p>Please don't write the following kinds of comments:</p>
	 <ul>
		<li>"Me too" comments. If you agree that someone has made a good point which adds to the discussion, upvote their comment instead of saying "Me too," or "I agree!" It makes for a cleaner conversation that everyone is better able to follow.</li>
		<li>Disparaging comments. If you can't make your point respectfully, don't make it at all.</li>
		<li>Repeated links to your own blog/ site/ product. If you are mentioning your own work once in a while, when it is entirely relevant, that might be acceptable. But if you are repeatedly plugging your stuff, we probably don't want to hear it.</li>
		<li>Anything along the lines of the submissions we don't want: off-topic comments, memes, teacher-bashing and public-ed bashing, and spreading FUD.</li>
	</ul>

	<a href="#">top</a>


	 <h2><a name='voting_and_flagging' class='anchor_tag'>Voting and Flagging</a></h2>
	 <p>In general, voting is for the quality of submissions, not whether you agree or disagree with a submission. Flagging is for distracting and abusive submissions only, and definitely not for submissions you simply disagree with.</p>

	 <h3><a name='upvoting_articles' class='anchor_tag'>Which articles should be upvoted?</a></h3>
	 <p>Please upvote articles that you find interesting. Articles that spur meaningful, constructive discussion. Articles that help you understand how teaching and learning can be done well. Articles that shed light on contentious issues in education.</p>

	 <h3><a name='flagging_articles' class='anchor_tag'>Which articles should be flagged?</a></h3>
	 <p>Please flag articles that are off-topic, and should not have been submitted in the first place. Please don't flag articles that you simply don't like, or just disagree with.</p>

	 <h3><a name='upvoting_comments' class='anchor_tag'>Which comments should be upvoted?</a></h3>
	 <p>Please upvote comments that add to the overall discussion. Comments that make an insightful observation, that share relevant experiences, that help people see the issue in a different light.</p>
	 <h3><a name='downvoting_comments' class='anchor_tag'>Which comments should be downvoted?</a></h3>
	 <p>Please don't downvote comments that you disagree with. Downvoting is for comments that detract from the overall conversation. If you downvote someone, please consider letting them know why they are being downvoted, so they will make better comments next time.</p>
	 <ul>
		<li>Comments that are vague, and don't really say anything.</li>
		<li>Comments that just say, "Me too!" or "I agree!", without adding anything new to the conversation.</li>
		<li>Comments that go against the guidelines, but are not strong enough to warrant flagging. Downvoting is a gentle reminder to be more thoughtful when commenting; flagging is for flagrantly abusive and irrelevant comments.</li>
	 </ul>
	 <h3><a name='flagging_comments' class='anchor_tag'>Which comments should be flagged?</a></h3>
	 <p>Flagging is for comments that go pretty clearly against the overall spirit of the site. Flagging is for abusive, aggressive, or spam-type comments. Flagged comments will disappear pretty quickly, and users with many flagged comments may have their accounts reviewed. Users who consistently write abusive and unwanted comments will simply be ignored. Their posts will become invisible by default.</p>

    <a href="#">top</a>


	 <h2><a name='downvoting_flagging_privileges' class='anchor_tag'>Downvoting and flagging are privileges</a></h2>
	 <p>Downvoting and flagging serve very specific purposes in framing a meaningful conversation. They should not be used against people you simply disagree with. People gain downvoting and flagging privileges when their overall karma reaches a certain threshold. People have to interact meaningfully on the site before they can start downvoting and flagging.</p>
	 <p>Users who demonstrate a pattern of downvoting and flagging well-constructed comments that they simply disagree with may have their downvoting and flagging privileges revoked.</p>

	 <a href="#">top</a>


	 <h2><a name='thank_you' class='anchor_tag'>Thank you</a></h2>
	 <p>Thank you for looking over these guidelines, and helping us frame a meaningful conversation about education. Please share feedback if you have any constructive criticism of the guidelines.</p>


{% endblock %}
