{% extends 'base.html' %}

{% block content %}

    <h3>Username: {{ target_user.username }}</h3>
    <h4>First Name: {{ target_user.first_name }}</h4>
    <h4>Last Name: {{ target_user.last_name }}</h4>
    <p>
		{% if own_profile %}
		    Email: {{ target_user.email }}
		    {% if target_user.email.public %}
		        (public)
		    {% else %}
		        (private)
		    {% endif %}
		{% elif target_user.email.public %}
		    Email: {{ target_user.email }}
		{% endif %}
	 </p>

	 {% if own_profile %}
	   <p><a href="{% url 'edit_profile' %}">Edit profile</a></p>
      <p><a href="{% url 'password_change_form' %}">Change password</a></p>
    {% endif %}

{% endblock %}
