/* New Submissions page (new.html) */
a.anchor_tag {
	 color: black;
}

.my_jumbotron {
	 padding: 25px;
}

.my_small_jumbotron {
	 padding: 15px;
}

.my_small_jumbotron h1 {
	 font-size: 40px;
}

.li_par {
	 padding-top: 5px;
}

li {
	 padding-top: 5px;
}

.title_line {
	 font-size: 110%;
}

.points_line {
	 margin-left: 38px;
	 margin-bottom: 10px;

	 font-size: 90%;
}

.points_line_discuss {
	 margin-left: 20px;
}

.title_without_upvote {
	 margin-left: 20px;
}

.comment_entry_form {
	 margin-left: 20px;
	 margin-bottom: 30px;
}

.comment_submit_button {
	 margin-top: 15px;
}

.reply_entry_form {
	 margin-top: 15px;
}

#submit_comment_button {
	 margin-right: 10px;
}

.comment {
	 border: 0px solid blue;
	 margin-left: 20px;
	 margin-bottom: 10px;
}

.comment_text {
	 margin-left: 35px;
}

.reply_link {
	 margin-top: 5px;
	 margin-bottom: 15px;
	 margin-left: 35px;
}

a.upvote_link, a.downvote_link {
	 color: blue;
}

a.upvoted_link, a.downvoted_link {
	 margin-right: 3px;
}

.comment_author_title_line {
	 margin-left: 35px;
}

.comment_author_title_line_cant_downvote {
	 margin-left: 20px;
}

.title_cant_downvote {
	 margin-left: 35px;
}

.comment_text_no_downvote {
	 margin-left: 20px;
}

.reply_link_no_downvote {
	 margin-left: 20px;
}

span.beta_notice {
	 font-size: 14px;
}

.show_invisible {
	 font-style: italic;
	 color: red;
}

.text_post {
	 margin-left: 20px;
	 margin-bottom: 30px;
}