/* New Submissions page (new.html) */
.title_line {
	 font-size: 110%;
}

.points_line {
	 margin-left: 38px;
	 margin-bottom: 10px;

	 font-size: 90%;
}

.points_line_discuss {
	 margin-left: 20px;
}

.title_without_upvote {
	 margin-left: 20px;
}

.comment_entry_form {
	 margin-left: 20px;
}

.comment {
	 margin-left: 20px;
}