/* New Submissions page (new.html) */
.title_line {
	 font-size: 110%;
}

.points_line {
	 margin-left: 38px;
	 margin-bottom: 10px;

	 font-size: 90%;
}

.points_line_discuss {
	 margin-left: 20px;
}

.title_without_upvote {
	 margin-left: 20px;
}

.comment_entry_form {
	 margin-left: 20px;
	 margin-bottom: 30px;
}

.comment_submit_button {
	 margin-top: 15px;
}

#submit_comment_button {
	 margin-right: 10px;
}

.comment {
	 margin-left: 20px;
	 margin-bottom: 10px;
}

.comment_text {
	 margin-left: 35px;
}

.reply_link {
	 margin-top: 5px;
	 margin-bottom: 15px;
	 margin-left: 35px;
}

a.upvote_link {

}

a.downvote_link {

}

.comment_author_title_line {
	 margin-left: 35px;
}

.title_cant_downvote {
	 margin-left: 35px;
}

.comment_text_no_downvote {
	 margin-left: 20px;
}

.reply_link_no_downvote {
	 margin-left: 20px;
}